@media all and (min-width: 1200px) {
    .travelBar{
        position: relative;
        left: 0;
        top: -20px;    
        height: 70px;
        width: 100%;
        background-color: rgb(40, 165, 165);
        color:rgb(252, 252, 252);
        text-align: center;
    }

    .titleTravelBar{
        position: relative;
        top:15px;    
    }
    
    .TravelView{
        position: relative;
        top:0px;    
        word-wrap: break-word;
        height: 100%;
    }
}