@media all and (min-width: 1200px) {
    .driverBar{
        position: relative;
        left: 0;
        top: -20px;    
        height: 70px;
        width: 100%;
        background-color:#41cac6;
        color:rgb(252, 252, 252);
        text-align: center;
    }

    .titleDriverBar{
        position: relative;
        top:15px;    
    }
    
    .DriverView{
        position: relative;
        top:0px;    
        word-wrap: break-word;
        height: 100%;
    }
}